<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="../tripfriendizer-backoffice/lib/angular.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
<head>
<body>

<div ng-app="villaSignIn">
    <form ng-controller="villaSignInCtrl">
        <!-- Info about owner -->
        <label>Villa owner(*) <input type="text" ng-model="villaOwner" required></label><br/>

        <!-- Info about Villa -->
        <label>Villa's name(*) <input type="text" ng-model="villaName" required></label><br/>

        <label>Tag (Min 3 letters)<input type="text" ng-model="villaTag"> <input type="button" ng-click="addTag()" value="Add tag"></label><br/>
        <div ng-repeat="Tag in tag">
            {{Tag.name}} <input type="button" ng-click="deleteTag(Tag)" value="Delete">
        </div>

        <label>Number of chambers(*) <input type="number" ng-model="villaNumber" required></label>

        <p>(*)Must be filled (min 5 letters).</p>
        <input type="submit" ng-click="checkData()" value="SignIn">
    </form>
</div>


</body>

</html>