<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="lib/angular-file-upload-shim.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-file-upload.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
<head>
<body>

<div ng-app="villaSignIn">
    <form ng-controller="villaSignInCtrl">
        <!-- Info about owner -->
        <label>Villa owner(*)
            <input type="text" ng-model="villaOwnerName" required><br/>
        </label>
        </form>
    <form ng-controller="ImageCtrl">

        <div ng-show="dropSupported" class="drop" ng-file-drop="onFileSelect($files)" ng-file-drop-available="dropSupported=true"
             ng-file-drag-over-class="dragOverClass($event)" ng-file-drag-over-delay="100" ng-file-select="onFileSelect($files)"
             multiple accept="image/*">click or drop files here</div>
        </form>

    <form ng-controller="villaSignInCtrl">

        <!-- Info about Villa -->
        <label>Villa's name(*)  <input type="text" ng-model="villaName" required></label><br/>

        <label>Tag (Min 3 letters)  <input type="text" ng-model="villaTag"> <input type="button" ng-click="addTag()" value="Add tag"></label><br/>
        <div ng-repeat="Tag in tag">
            {{Tag.name}} <input type="button" ng-click="deleteTag(Tag)" value="Delete">
        </div>

        <label>Number of chambers(*) <input type="number" ng-model="villaNumber" required></label>

        <p>(*)Must be filled (min 5 letters).</p>
        <input type="submit" ng-click="checkData()" value="SignIn">
    </form>
</div>


</body>

</html>